div {
  padding: 25px;
}

body {
  font-family: Helvetica;
  background-color: #5170ff;
}

.title, h1, h2, h3, p {
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4565f0;
}

ul li {
  float: left;
}

ul li a, ul li logo1 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #3050e0;
}

.article-header {
    display: flex;
    align-items: center;
    gap: 10px; /* space between h3 and button */
}

.article-header h3 {
    margin: 0;
    flex: 1;                 /* makes the h3 take all space */
    text-align: center;      /* centers text without shifting layout */
}

button {
 color: white;
 background-color: blue; /* or 008CBA */
 border: none;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 8px
}
